/**
 * ooBase core Stylesheet
 * Version 2.6.0
 *
 * Author Jerry Shaw <jerry-shaw@live.com>
 * Author 秋水之冰 <27206617@qq.com>
 *
 * Copyright 2015-2016 Jerry Shaw
 * Copyright 2016 秋水之冰
 *
 * This file is part of ooBase Core System.
 *
 * ooBase SDK is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ooBase SDK is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with ooBase Core System. If not, see <http://www.gnu.org/licenses/>.
 */

* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

button, input, select, option {
    font-family: "Microsoft YaHei Light", "Microsoft YaHei", Verdana, Arial, Tahoma, Georgia, SimSun, NSimSun, sans-serif, serif;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
    background: #ffffff;
    -webkit-appearance: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.clear {
    zoom: 1;
}

.clear:after {
    width: 0;
    height: 0;
    float: none;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    display: block;
    background: none;
    overflow: hidden;
    visibility: hidden;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

/*PC*/
html {
    margin: 0 auto;
    font-size: 16px;
    min-width: 960px;
    min-height: 100%;
    overflow-y: scroll;
    font-family: "Microsoft YaHei Light", "Microsoft YaHei", Verdana, Arial, Tahoma, Georgia, SimSun, NSimSun, sans-serif, serif;
}

body {
    margin: 0 auto;
    min-width: 960px;
    min-height: 100%;
    background: #f0f0f0;
}

a, a:link {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #00F;
    cursor: pointer;
    text-decoration: underline;
}

.pages {
    width: 100%;
    margin: 0 auto;
    padding: 8px 3%;
    text-align: center;
}

.pages a {
    height: 25px;
    color: #555555;
    line-height: 25px;
    padding: 3px 8px;
    text-align: center;
    background: #f6f6f6;
    text-decoration: none;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    white-space: nowrap;
    word-break: keep-all;
}

.pages a.current {
    color: #ffffff;
    font-weight: bold;
    background: #888888;
    border: 1px solid #666666;
}

.pages a:hover {
    color: #000000;
    font-weight: bold;
    background: #dddddd;
    border: 1px solid #b0b0b0;
}

.pages a.page_btn_show {
    display: inline;
}

.pages a.page_btn_hide {
    display: none;
}

/*Pad*/
@media screen and (max-width: 959px) and (min-width: 721px) {
    html {
        font-size: 14px;
        min-width: 721px;
        overflow-y: visible;
    }

    body {
        min-width: 721px;
    }

    .pages {
        padding: 6px 2%;
    }

    .pages a {
        padding: 2px 7px;
    }
}

/*Phone*/
@media screen and (max-width: 720px) {
    html {
        font-size: 12px;
        min-width: 320px;
        overflow-y: visible;
    }

    body {
        min-width: 320px;
    }

    .pages {
        padding: 4px 1%;
    }

    .pages a {
        padding: 2px 6px;
    }
}