/**
 * ooBase footer Stylesheet
 * Version 2.7.0 (Nerve Cell)
 *
 * Author Jerry Shaw <jerry-shaw@live.com>
 * Author 秋水之冰 <27206617@qq.com>
 *
 * Copyright 2015-2017 Jerry Shaw
 * Copyright 2016-2017 秋水之冰
 *
 * This file is part of ooBase Core.
 *
 * ooBase Core is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ooBase Core is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with ooBase Core. If not, see <http://www.gnu.org/licenses/>.
 */

footer, #footer {
    padding: 6px 6%;
    background: #e6e6e6;
    border-top: 1px solid #d6d6d6;
}

#footer #credits {
    padding: 0 20px;
    margin-bottom: 6px;
    border-bottom: 1px solid #d6d6d6;
}

#footer #credits p {
    font-size: 0.8rem;
    margin-bottom: 8px;
}

#footer #credits p span {
    line-height: 28px;
    padding-right: 36px;
}

#footer #credits p span a img {
    width: 28px;
    height: 28px;
    margin-right: 6px;
    border-radius: 3px;
    vertical-align: bottom;
}

#footer #contribute,
#footer #copyright {
    font-size: 0.7rem;
    line-height: 16px;
    text-align: center;
}

#footer #contribute {
    margin-bottom: 8px;
}

/*Pad*/
@media screen and (max-width: 959px) and (min-width: 721px) {
    footer, #footer {
        padding: 5px 4%;
    }

    #footer #credits {
        padding: 0 14px;
    }

    #footer #credits p {
        font-size: 0.8rem;
        margin-bottom: 6px;
    }

    #footer #credits p span {
        line-height: 24px;
        padding-right: 26px;
    }

    #footer #credits p span a img {
        width: 24px;
        height: 24px;
    }

    #footer #contribute,
    #footer #copyright {
        font-size: 0.8rem;
        line-height: 14px;
    }
}

/*Phone*/
@media screen and (max-width: 720px) {
    footer, #footer {
        padding: 4px 2%;
    }

    #footer #credits {
        padding: 0 8px;
    }

    #footer #credits p {
        font-size: 0.675rem;
        margin-bottom: 4px;
    }

    #footer #credits p span {
        line-height: 20px;
        padding-right: 16px;
    }

    #footer #credits p span a img {
        width: 20px;
        height: 20px;
    }

    #footer #contribute,
    #footer #copyright {
        font-size: 0.675rem;
        line-height: 12px;
    }
}