/**
 * ooBase header Stylesheet
 * Version 2.6.0
 *
 * Author Jerry Shaw <jerry-shaw@live.com>
 * Author 秋水之冰 <27206617@qq.com>
 *
 * Copyright 2015-2017 Jerry Shaw
 * Copyright 2016-2017 秋水之冰
 *
 * This file is part of ooBase Core.
 *
 * ooBase Core is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ooBase Core is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with ooBase Core. If not, see <http://www.gnu.org/licenses/>.
 */

header, #header {
    height: 37px;
    padding: 0 6%;
    background: #e6e6e6;
    border-bottom: 1px solid #d6d6d6;
}

#header div.left {
    float: left;
    width: 41%;
    height: 100%;
}

#header div.left div.logo {
    float: left;
    width: 106px;
    height: 100%;
}

#header div.left div.logo img.img_logo {
    height: 100%;
}

#header div.left #nav {
    float: left;
    width: 69%;
    height: 36px;
}

#header div.left #nav ul li {
    float: left;
    height: 36px;
    padding-top: 6px;
    line-height: 30px;
}

#header div.left #nav ul li a {
    color: #4e4e4e;
    display: block;
    padding: 0 12px;
    font-size: 0.8rem;
    text-align: center;
}

#header div.left #nav ul li a:hover {
    text-decoration: none;
    border-bottom: 3px solid #4d79c4;
}

#header div.right {
    float: right;
    width: 59%;
    height: 100%;
    position: relative;
}

#header div.right > div {
    float: right;
}

#header div.right > div.btn_lang {
    width: 57px;
    padding: 5px 0 0 5px;
}

#header div.right > div.btn_lang ul li {
    float: left;
    width: 26px;
    text-align: center;
}

#header div.right > div.btn_lang ul li a {
    display: block;
    width: 100%;
    height: 26px;
    font-size: 0.7rem;
    line-height: 26px;
    text-decoration: none;
}

#header div.right > div.btn_lang a.curr_lang {
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;
    background: #4d79c4;
}

#header div.right > div.btn_action {
    width: 162px;
    line-height: 36px;
}

#header div.right > div.btn_action ul {
    height: 28px;
    margin-top: 4px;
    line-height: 28px;
}

#header div.right > div.btn_action ul li {
    float: left;
    width: 46%;
    margin: 0 2%;
    text-align: center;
}

#header div.right > div.btn_action ul li a {
    display: block;
    font-size: 0.8rem;
    border-radius: 14px 14px 14px 14px;
}

#header div.right > div.btn_action ul li a:hover {
    text-decoration: none;
}

#header div.right > div.btn_action ul li a.sign_in {
    color: #ffffff;
    background: #94bd30;
}

#header div.right > div.btn_action ul li a.sign_up {
    color: #4e4e4e;
    background: #ffffff;
}

#header div.right > div.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #ffffff;
    margin: -10px 2% 0 2%;
}

#header div.right > div.avatar a {
    width: 60px;
    height: 60px;
    display: block;
    margin: 2px auto;
}

#header div.right > div.avatar img.img_avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#header div.right > div.search {
    width: 38%;
    height: 100%;
    margin-right: 1%;
    text-align: right;
}

#header div.right > div.search form {
    width: 100%;
    margin-top: 4px;
    position: relative;
}

#header div.right > div.search form input.search_text {
    width: 100%;
    height: 28px;
    font-size: 0.7rem;
    padding: 0 35px 0 10px;
    border-radius: 14px 14px 14px 14px;
}

#header div.right > div.search form input.search_icon {
    width: 22px;
    height: 22px;
    top: 3px;
    right: 8px;
    position: absolute;
}

#header > div.nav_bottom {
    display: none;
}

/*Pad*/
@media screen and (max-width: 959px) and (min-width: 721px) {
    header, #header {
        padding: 0 2%;
    }

    #header div.left {
        width: 52%;
    }

    #header div.left #nav {
        width: 68%;
    }

    #header div.left #nav ul li a {
        padding: 0 10px;
    }

    #header div.right {
        width: 48%;
    }

    #header div.right > div.search {
        width: 224px;
        top: 48px;
        right: 0;
        position: absolute;
    }
}

/*Phone*/
@media screen and (max-width: 720px) {
    body {
        padding-bottom: 48px;
    }

    header, #header {
        height: 38px;
        padding: 0 2%;
    }

    #header div.left {
        width: 28%;
    }

    #header div.left div.logo {
        width: 100%;
    }

    #header div.right {
        width: 68%;
        position: relative;
    }

    #header div.left #nav,
    #header div.right > div.btn_action,
    #header div.right > div.avatar {
        display: none;
    }

    #header div.right > div.btn_lang {
        width: 61px;
        padding-top: 4px;
    }

    #header div.right > div.btn_lang ul li {
        width: 28px;
    }

    #header div.right > div.btn_lang ul li a {
        height: 28px;
        font-size: 0.9rem;
        line-height: 28px;
    }

    #header div.right > div.search {
        width: 69%;
    }

    #header div.right > div.search form {
        margin-top: 4px;
    }

    #header div.right > div.search form input.search_text {
        height: 28px;
    }

    #header div.right > div.search form input.search_icon {
        top: 3px;
        width: 22px;
        height: 22px;
    }

    #header > div.nav_bottom {
        width: 100%;
        height: 48px;
        display: block;
        padding-top: 5px;
        min-width: 320px;
        left: 0;
        bottom: 0;
        z-index: 1000;
        position: fixed;
        background: #e6e6e6;
        border-top: 1px solid #d6d6d6;
    }

    #header > div.nav_bottom ul li {
        float: left;
        width: 25%;
        text-align: center;
    }

    #header > div.nav_bottom ul li a {
        font-size: 0.85rem;
    }

    #header > div.nav_bottom ul li div {
        width: 100%;
        text-align: center;
    }

    #header > div.nav_bottom ul li div img {
        height: 20px;
    }
}